<!-- red block button -->
<div>
  <button class="block--button block-button-red">BUY NOW</button>
</div>
<div>
  <!-- blue block button -->
  <button class="block--button block-button-blue">BUY NOW</button>
</div>
<!-- search block button -->
<div>
  <button class="block--button block-button-red block-button-search">
    <img src="/images/search.svg" alt="search" class="search-block-button" />
    SEARCH
  </button>
</div>
<!-- secondary button for call to action section -->
<div>
  <button class="block--button block-button-cta">GET STARTED</button>
</div>
