<div class="callout">
  <div class="callout-body">
    <h2 class="callout__heading">Ready To Get Started ?</h2>
    <p class="callout__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit deserunt
      consequatur expedita veritatis libero praesentium assumenda porro modi
      minima eius?
    </p>
  </div>
  <div>
    <!-- blue block button -->
    <a href="#">
      <button class="block--button block-button-blue callout__btn">
        GET STARTED
      </button>
    </a>
  </div>
</div>
