<div class="card card--primary">
  <div class="card__header">
    <p>Card Title</p>
  </div>
  <div class="card__body">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia voluptatum
      voluptate commodi, quis at architecto alias impedit ipsa ipsam natus!
    </p>
  </div>
</div>

<div class="card card--secondary">
  <div class="card__header">
    <p>Card Title</p>
  </div>
  <div class="card__body">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia voluptatum
      voluptate commodi, quis at architecto alias impedit ipsa ipsam natus!
    </p>
  </div>
</div>
