<section class="block container domain_lookup">
  <header class="block__header">
    <h2>Starting at 9$ per month</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, fuga!
    </p>
  </header>
  <div class="input--group domain__input__group">
    <input
      type="text"
      class="input--block input-block-decor"
      placeholder="Enter domain name here..."
    />
    <button class="block--button block-button-red block-button-search">
      <img src="/images/search.svg" alt="search" class="search-block-button" />
      SEARCH
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badges badges--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
