<header>
  <h2>Host on the cloud to Keep Growing</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quis?
  </p>
</header>
<section class="feature">
  <div class="feature__info">
    <svg class="icon feature__icon">
      <use xlink:href="images/sprite-moshify.svg#easy"></use>
    </svg>
    <h3 class="feature__heading">Super Easy To Use</h3>
    <p class="feature__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, error
      provident cupiditate quasi veritatis at labore dignissimos eveniet dicta
      necessitatibus enim officiis tenetur voluptas fugit eaque! Ratione veniam
      atque nihil.
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <div class="feature__image">
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.jpg 2x"
      />
      <img src="images/easy.webp" alt="" class="feature__image" />
    </picture>
  </div>
</section>

<section class="feature">
  <div class="feature__info">
    <svg class="icon feature__icon">
      <use xlink:href="images/sprite-moshify.svg#easy"></use>
    </svg>
    <h3 class="feature__heading">Super Easy To Use</h3>
    <p class="feature__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, error
      provident cupiditate quasi veritatis at labore dignissimos eveniet dicta
      necessitatibus enim officiis tenetur voluptas fugit eaque! Ratione veniam
      atque nihil.
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <div class="feature__image">
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.jpg 2x"
      />
      <img src="images/easy.webp" alt="" class="feature__image" />
    </picture>
  </div>
</section>

<section class="feature">
  <div class="feature__info">
    <svg class="icon feature__icon">
      <use xlink:href="images/sprite-moshify.svg#easy"></use>
    </svg>
    <h3 class="feature__heading">Super Easy To Use</h3>
    <p class="feature__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, error
      provident cupiditate quasi veritatis at labore dignissimos eveniet dicta
      necessitatibus enim officiis tenetur voluptas fugit eaque! Ratione veniam
      atque nihil.
    </p>
    <a href="#" class="link-arrow">Learn More</a>
  </div>
  <div class="feature__image">
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.jpg 2x"
      />
      <img src="images/easy.webp" alt="" class="feature__image" />
    </picture>
  </div>
</section>
