<section class="footer--area">
    <div class="footer__col1">
      <img src="/images/logo.svg" alt="logo" class="footer__logo" />
      <p class="footer__credits">Copyright &copy vimanshu</p>
    </div>
    <div class="footer__col">
      <ul class="list">
        <a href="">
          <li class="list__item-head">Products</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      </ul>
    </div>
    <div class="footer__col">
      <ul class="list">
        <a href="">
          <li class="list__item-head">Company</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
  </a>
  <a href="">
    <li class="list__item">item 1</li>
  </a>
  <a href="">
    <li class="list__item">item 1</li>
  </a>
      </ul>
    </div>
    <div class="footer__col">
      <ul class="list">
        <a href="">
          <li class="list__item-head">Support</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a> </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      </ul>
    </div>
    <div class="footer__col">
      <ul class="list">
        <a href="">
          <li class="list__item-head">Domains</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
        <a href="">
          <li class="list__item">item 1</li>
        </a>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
      <a href="">
        <li class="list__item">item 1</li>
      </a>
  </a>
  <a href="">
    <li class="list__item">item 1</li>
  </a>
  <a href="">
    <li class="list__item">item 1</li>
  </a>
      </ul>
    </div>
  </section>

  <!-- ---------------------------footer for mobile version----------------- -->
  <section class="Footer__mobile">
      <div class="collapsible collapsible--expanded Footer__mobile__collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Products</h2>
        
            <svg class="icon collapsible__chevron">
              <use xlink:href="images/sprite-moshify.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
              <ul class="list">
                  <a href="">
                    <li class="list__item-head">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                </ul>
          </div>
        </div>



        <div class="collapsible collapsible--expanded Footer__mobile__collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Company</h2>
        
            <svg class="icon collapsible__chevron">
              <use xlink:href="images/sprite-moshify.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
              <ul class="list">
                  <a href="">
                    <li class="list__item-head">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                </ul>
          </div>
        </div>




        <div class="collapsible collapsible--expanded Footer__mobile__collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Support</h2>
        
            <svg class="icon collapsible__chevron">
              <use xlink:href="images/sprite-moshify.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
              <ul class="list">
                  <a href="">
                    <li class="list__item-head">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                </ul>
          </div>
        </div>


        <div class="collapsible collapsible--expanded Footer__mobile__collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Domain</h2>
        
            <svg class="icon collapsible__chevron">
              <use xlink:href="images/sprite-moshify.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
              <ul class="list">
                  <a href="">
                    <li class="list__item-head">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                  <a href="">
                    <li class="list__item">item 1</li>
                  </a>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                <a href="">
                  <li class="list__item">item 1</li>
                </a>
                </ul>
          </div>
        </div >

        <img src="/images/logo.svg" alt="" class="Footer__mobile__logo">
        <p>vimanshu &copy 2021</p>
  </section>
  <script src="/main.js"></script>