<section class="card-section">
  <div class="card card--secondary">
    <div class="card__header card-section__header">
      <p id="plan-type">Entry</p>
      <div class="card-section__price-plan">
        <p id="price">$14</p>
        <p class="card-section__cycle">/month</p>
        <span class="badges badges-small card-section__badge">10% off </span>
      </div>
      <p id="plan-tagline">Easy start on the cloud</p>
    </div>
    <div class="card__body card__body__plan">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
        <li class="list__item">2 CPU Cores</li>
      </ul>
      <a href="#"
        ><button class="block--button block-button-blue plan__button">
          BUY NOW
        </button></a
      >
    </div>
  </div>
  <div class="card card--primary">
    <div class="card__header card-section__header">
      <p id="plan-type">Entry</p>
      <div class="card-section__price-plan">
        <p id="price">$14</p>
        <p class="card-section__cycle">/month</p>
        <span class="badges badges-small card-section__badge">10% off </span>
      </div>
      <p id="plan-tagline">Easy start on the cloud</p>
    </div>
    <div class="card__body card__body__plan">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
        <li class="list__item">2 CPU Cores</li>
      </ul>
      <a href="#"
        ><button class="block--button block-button-blue plan__button">
          BUY NOW
        </button></a
      >
    </div>
  </div>
  <div class="card card--secondary">
    <div class="card__header card-section__header">
      <p id="plan-type">Entry</p>
      <div class="card-section__price-plan">
        <p id="price">$14</p>
        <p class="card-section__cycle">/month</p>
        <span class="badges badges-small card-section__badge">10% off </span>
      </div>
      <p id="plan-tagline">Easy start on the cloud</p>
    </div>
    <div class="card__body card__body__plan">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
        <li class="list__item">2 CPU Cores</li>
      </ul>
      <a href="#"
        ><button class="block--button block-button-blue plan__button">
          BUY NOW
        </button></a
      >
    </div>
  </div>
</section>
