<section class="testimonial">
  <header>
    <h2>What our customers are saying?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, velit.
    </p>
  </header>
  <div class="card testimonial__container">
    <div>
      <img
        src="/images/testimonial.jpg"
        alt=""
        class="testimonial__card__image"
      />
    </div>
    <div class="testimonial__quote">
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut quasi
          placeat quae expedita similique in ipsam nobis laborum pariatur. Sunt
          rem aut fugiat quaerat. Cupiditate ipsum accusamus maiores rerum rem.
        </p>
        <footer>
          <div class="media">
            <div class="media__image quote__icon">
              <svg class="icon">
                <use xlink:href="images/sprite-moshify.svg#easy"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title media__name">John Smith</h3>
              <p class="media__company">XYZ company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
